<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">Une histoire de famille</h6>
    <h1 class="text-capitalize text-center" >Notre histoire</h1>
    <h5 class="text-center" >Respectez la planète avec des confections faites main pour toute la famille</h5>
  </br>
    <hr/>
  </br>
  </div>
  <div class="col-md-1"></div>

  <div class="row">
    <div class="col-md-1"></div>
  <div class="col-md-5">
  </br>
  <p class="text-justify" ><b>Le changement climatique nous concerne toutes et tous mais comment faire pour protèger notre planète et notre porte-monnaie ?</b></p>
  <p class="text-justify" >Les produits jetables comme les cotons démaquillants ou le papier alumimum ne sont utilisés qu'une seule fois pour être ensuite jetés. <b>Pourquoi payer un produit pour l'utiliser une seule fois ?</b></p>
  <p class="text-justify" >C'est en partant de cette constatation que la famille Coton a décidé de se lancer dans la confection de <b>produits pratiques, réutilisables et avec de jolies couleurs.</b></p>
  <p class="text-justify" >A la confection, on retrouve <b>Marie-Pierre, la maman</b>, épaulée de temps à autre par <b>Mélanie, la petite soeur</b>. Le compte instagram et toute la communication c'est le travail de <b>Julie, la grande soeur</b> (d'où le nom de cet eshop).</p>
  <!--<p class="text-justify" ><b>Jean-Marc, le papa</b>, participe aussi à sa façon : il donne son avis sur les tissus choisis (c'est-à-dire qu'il les trouve toujours beaux).</p> -->
  <p class="text-justify" >Evidemment toute la famille profitait des créations de Marie-Pierre, puis les amis, puis les amis des amis et maintenant c'est à vous que nous souhaitons faire plaisir avec <b>une pièce unique et faite avec amour.</b></p>
  </div>
  <div class="col-md-5">
    <span class="family img-fluid rounded"></span>
  </div>
  <div class="col-md-1"></div>
</div>


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <span class="daisy img-fluid rounded"></span>
  </div>
  <div class="col-md-5">
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <p class="text-justify" >La petite dernière, <b>Daisy, notre petite chienne fox croisée griffon</b>, est toujours là pour veiller sur nous. </p>
    <p class="text-justify" >Elle aussi profite des créations de sa maîtresse avec la confection de coussins que tous les chiens du quartier envient.</p>
  </div>
  <div class="col-md-1"></div>
</div>

</br>
</div>
