</br> <!-- Permet d'avoir un espace entre le contenu et le footer -->

<footer class="footer">
   <div class="container-fluid">
       <div class="row text-center justify-content-center">
           <div class="col-md-2 mt-3 mb-1">
               <h6 class="text-uppercase font-weight-bold"> 
                   <a href="#!">Notre histoire</a>
               </h6>
           </div>

           <div class="col-md-2 mt-3 mb-1">
               <h6 class="text-uppercase font-weight-bold">
                   <a href="#!">Nos produits</a>
               </h6>
           </div>

           <div class="col-md-2 mt-3 mb-1">
               <h6 class="text-uppercase font-weight-bold">
                   <a href="#!">Informations</a>
               </h6>
           </div>
       </div>

       <hr width="75%" color="white"> <!-- Ligne blanche -->

       <div class="row">
		<div class="col-md-5"></div>
           <div class="col-md-2">
               <div style="text-align:center" class="fa">
                   <a href="#"><img width="50px" class="pr-2" src="/../content/images/facebook.png"></a>
                   <a href="#"><img width="50px" class="pr-2" src="/../content/images/twitter.png"></a>
                   <a href="https://www.instagram.com/marie_coton/?hl=fr"><img width="50px" class="pr-2" src="/../content/images/instagram.png"></a>
                   <a href="#"><img width="50px" class="pr-2" src="/../content/images/email.png"></a>
               </div>
               <div class="col-md-5"></div>
           </div>
       </div>
       <div class="row text-center d-flex justify-content-center pt-4" style="background-color:#f0f0f0">
		
           <div class="col-md-12">
           <span style="color:#011627">
               &copy; 2020 :
               <a href="#!" style="color:#011627">Juliestore.</a> All rights reserved.
           </span>
           </div>
       </div>
   </div>
</footer>


