/* info.component.scss */

.interrogation {
  display: inline-block;
  width: 700px;
  height: 250px;
  background: url('../../content/images/interrogation.gif') no-repeat center top;
  background-size: contain;
}

.camion {
  display: inline-block;
  width: 900px;
  height: 400px;
  background: url('../../content/images/camion.gif') no-repeat center top;
  background-size: contain;
}

.cadena {
  display: inline-block;
  width: 900px;
  height: 350px;
  background: url('../../content/images/cadena.gif') no-repeat center top;
  background-size: contain;
}

.enveloppe {
  display: inline-block;
  width: 300px;
  height: 100px;
  background: url('../../content/images/enveloppe.gif') no-repeat center top;
  background-size: contain;
}
