<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">Nous sommes à votre écoute</h6>
    <h1 class="text-capitalize text-center" >Informations</h1>
    <h5 class="text-center" >Une question ? Besoin de plus d'informations sur un sujet ? Trouvez toutes les réponses ici !</h5>
  </br>
    <hr/>
  </br>

    <div class="row">
      <div class="col-md-1"></div>   
      <div class="col-md-5">
        <p class ="text-center"><h2>Retours et remboursements</h2></p> 
      </br>
       <p class="text-justify" > <h4>Vous souhaitez retourner un article ? </h4></p>
    </br>
       <p class="text-justify" >Il doit être retourné dans son état d’origine et dans le délai de rétractation de 30 jours.
        Dans le cadre du Code de la Consommation, si vous retournez l’intégralité de votre commande, nous vous remboursons les frais de livraison. Ils feront l’objet d’un remboursement séparé.</p>
      </div> 
      <div class="col-md-5">
        <span class="interrogation img-fluid rounded"></span>
      </div>
  </div>
  <div class="col-md-1"></div>

  <hr/>
</br>

  <div class="row">
    <div class="col-md-1"></div>   
    <div class="col-md-4">
      <span class="camion img-fluid rounded"></span>
    </div>
    <div class="col-md-1"></div>   
    <div class="col-md-5">
      <p class ="text-center"><h2>Suivi des commandes</h2></p> 
    </br>
      <p class="text-justify" > <h4>Comment fonctionne votre livraison en France ? </h4></p>
    </br>
      <p class="text-justify" >La livraison en point relais et en point retrait Colissimo est aussi disponible avec la livraison Standard. La livraison est entièrement suivie, et les notifications par SMS et e-mails sont fournies par notre transporteur partenaire. Nous vous enverrons par e-mail un lien qui vous permettra de suivre votre colis, une fois qu'il aura été expédié de notre entrepôt. </p>
    </div>
    <div class="col-md-1"></div>  
    </div>
  
    <hr/>


    

    <div class="row">
      <div class="col-md-1"></div>   
      <div class="col-md-5">
      </br>
        <p class ="text-center"><h2>Sécurité</h2></p>
       </br>
        <p class="text-justify" > <h4>Puis-je passer une commande sans risques ?</h4></p>
      </br>
      <p class="text-justify" >Commander en ligne n'a jamais été plus sûr ! Nous utilisons un des systèmes de commande en ligne des plus sécurisés du marché. En plus, nous effectuons constamment des recherches et des améliorations de notre logiciel afin de vous garantir la plus grande sécurité possible, à tout moment.</p>
      </div>
      <div class="col-md-5">
      </br>
        <span class="cadena img-fluid rounded"></span>
      </div>
      <div class="col-md-1"></div>
    </div>

    <hr/>
  </br>
</br>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <h5 class="text-center" >Vous n'avez pas trouvé la réponse à votre question ? Nous sommes à votre écoute pour vous répondre par mail.</h5>
      </br>
      <p class ="text-center"><a href="mailto:service-clients@coton.fr"> <span class="enveloppe img-fluid rounded"></span> </a></p>
      
    </div>
      <div class="col-md-1"></div>
  

    



</div>
