/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 1500px;
  height: 900px;
  background: url('../../content/images/Logo instagram.png') no-repeat center top;
  background-size: contain;
}

.pochette {
  display: inline-block;
  width: 1000px;
  height: 500px;
  background: url('../../content/images/pochette.jpg') no-repeat center top;
  background-size: contain;
}

.carte {
  display: inline-block;
  width: 1000px;
  height: 500px;
  background: url('../../content/images/carte.jpg') no-repeat center top;
  background-size: contain;
}

.savon {
  display: inline-block;
  width: 1000px;
  height: 500px;
  background: url('../../content/images/savon.jpg') no-repeat center top;
  background-size: contain;
}

.recycle {
  display: inline-block;
  width: 1000px;
  height: 500px;
  background: url('../../content/images/recycle.gif') no-repeat center top;
  background-size: contain;
}

.like {
  display: inline-block;
  width: 300px;
  height: 100px;
  background: url('../../content/images/like.gif') no-repeat center top;
  background-size: contain;
}

.feuille {
  display: inline-block;
  width: 300px;
  height: 100px;
  background: url('../../content/images/feuille.gif') no-repeat center top;
  background-size: contain;
}

.cactus {
  display: inline-block;
  width: 300px;
  height: 100px;
  background: url('../../content/images/cactus.gif') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #007b5e !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
