<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span >Nos Produits - </span> {{ product.name }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <!-- Contenu descriptif du produit-->

            <dl class="row-md jh-entity-details">
                <dt><span >Référence</span></dt>
                <dd>
                    <span>{{ product.id }}</span>
                </dd>
                <dt><span >Description</span></dt>
                <dd>
                    <span>{{ product.description }}</span>
                </dd>
                <dt><span >Prix</span></dt>
                <dd>
                    <span>{{ product.price }}</span>
                </dd>
                <!-- <dt><span >Taille</span></dt>
                <dd>
                    <span >{{ product.size }}</span>
                </dd>
            -->
                <dt><span >Image</span></dt>
                <dd>
                    <div *ngIf="product.image">
                        <a (click)="openFile(product.imageContentType!, product.image)">
                            <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-width: 100%;" alt="product image"/>
                        </a>
                        
                    </div>
                </dd>
                <!--
                <dt><span >Catégorie</span></dt>
                <dd>
                    <div *ngIf="product.productCategory">
                        <a [routerLink]="['/product-category', product.productCategory?.id, 'view']">{{ product.productCategory?.id }}</a>
                    </div>
                </dd>
                -->
            </dl>

            <!-- Ajout des boutons retour et ajouter au panier-->
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span >Retour</span>
            </button>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="shopping-cart"></fa-icon>&nbsp;<span >Ajouter au panier</span>
            </button>


            <!-- Le bouton éditer n'est visible que pour les administrateurs-->
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>

        </div>
    
    </div>
</div>
